@import "variables";

body{
    background-color: rgba(0, 0, 0, 0.836);
    background-image: url(../img/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

// NAVBAR SECTION 
.logo {
    width: 55px;
    height: 55px;
}

li a {
    color: white !important;
    font-size: 20px;
}

.dropdown-item  {
    color: black !important;
}

.nav-link {
    padding: 15px;
}

.nav-link:hover {
    background-color: rgba(173, 168, 168, 0.233);
}
// HOME SECTION
main {
    display: grid;
    align-items: center;
    text-align: center;
}

.row-home {
    margin-top: 20px;
}

.titulo {
    text-align: center;
    font-weight: 900;
    font-size: $font-size;
    color:white;
}

#span-titulo {
    font-size: $font-size;;
    color: $color-subtitulo;
}

.parrafo-home{
    font-size: 20px;
    color:white;
    margin-top: 40px;
}

.btn-home{
    background-color: $primary-color;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

a {
    color: white !important;
    text-decoration: none;
}

.carousel-item {
    height: 300px;
}

// SUSCRIPCIONES SECTION
.card{
    margin: auto;
}

.parrafo-suscrip {
    font-size: 1rem;
    font-weight: 800;
    color: white;
}
// NOSOTROS SECTION
.parrafo-nosotros {
    background-color: rgba(83, 83, 83, 0.356);
    p {
        font-weight: 500;
        font-size: 1.2em;
        color:white;
    }
}

// SUCURSALES SECTION
.subtitulo {
    color: $primary-color;
}

.fa-map-pin {
    color: $primary-color;
}

.direccion {
    font-size: 1.2em;
    font-weight: 600;
    color: white;
}
.mapas {
    height: 300px;
}

//CONTACTO SECTION
.formulario-content{
    display: grid;
    justify-content: center;
}

.formulario {
    color: white;
    form div{
        margin: 0;
        padding: 1em;
    }   
}

.form-control,
form textarea {
    width: 100%;
    border: none;
    outline: none;
    background: none !important;
    font-size: 16px;
    border-bottom: 2px solid rgb(230, 131, 19) !important;
    color: white;
}

//No focus bootstrap
.form-control{
    &:focus{
        box-shadow: none;
        color: #FFFFFF;
    }
}

.btn{
    &:focus{
        box-shadow: none;
    }
}

form textarea {
    resize: none;
}

textarea::placeholder { 
    color: white; 
}

.btn-primary{
    cursor: pointer;
    background-color: $primary-color;
    text-transform: uppercase;
    color: white;
    border: none;
    padding: 15px;
    margin-left: 10px;
    width: 90%;
}

.btn-primary:hover, .btn-home:hover, .btn-primary:active,
.btn-primary:focus, .btn-primary:visited {
    background-color: $hover-color;
    
}

.logo-redes {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.list-redes{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
}

.redes-sociales {
    text-align: center;
    color:white;
    font-size: 25px;
    font-weight: 600;
}

.logo-redes:hover {
    transform: scale(1.2);
}

// FOOTER SECTION
footer {
    text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: auto; 
}

//MIXIN
@mixin size-maps {
        width: 600px;
        height: 500px;
}

@mixin home-desktop {
    .titulo, #span-titulo {
        font-size: 50px;
        padding-top: 120px;
    }
        .parrafo-home{
            font-size: 25px;
            padding-bottom: 10px;
        }
        .btn-home{
            width: 200px;
        }
}

@mixin size-cards {
    width: 80%;
}

//medias queries 
@media only screen and (min-width: 1400px) {
    .home {
        @include home-desktop;
    }
    .mapas {
        @include size-maps;
    }
    .card{
        @include size-cards;
    }
    .container {
        margin-bottom: 100px;
        padding-top: 40px;
    }
    .titulo{
        padding-bottom: 20px;
    }
    .nosotros {
        .carousel-item{
            height: 500px;
            width: 700px;
        }
        .parrafo-nosotros{
            height: 460px;
        }
    }
    .parrafo-suscrip {
        font-size: 1.5rem;
        font-weight: 800;
        color: white;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .mapas {
        width: 500px;
        height: 500px;
    }
    .card{
        width: 400px;
        height: 500px;
    }
    .parrafo-suscrip {
        font-size: 1.5rem;
        font-weight: 800;
        color: white;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .mapas {
        width: 400px;
        height: 400px;
    }
    .parrafo-suscrip {
        font-size: 1.5rem;
        font-weight: 800;
        color: white;
    }
}